@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 1em;
    padding: 0px;
}

body::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../static/phong-bg.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.125;
    z-index: -99;
}

.wapper {
    width: 100%;
}

.into {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.into__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 200px;
}

.into__text {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Kanit' sans-serif;
    line-height: 3rem;
}

.more-info__ar-code {
    width: 100%;
    object-fit: cover;
}

.more-info__product {
    width: 100%;
    object-fit: cover;
}

.more-info_title {
    font-weight: 300;
    font-size: 1.25rem;
}

.more-info-descript {
    line-height: 1.5rem;
}
