@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9efde;
}

nav {
    padding: 0px 5em;
    width: 50%;
    height: 100%;
    text-transform: uppercase;
    background-color: #fe3b1f;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}

li a {
    color: white;
    padding: 0.5em 2em;
    font-family: 'Kanit';
    font-weight: 200;
}

li a:hover {
    font-weight: 600;
}

.modal,
.modal-photo {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.modal__contents,
.modal-photo__contents {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow-y: scroll;
    max-width: 900px;
    background-color: #ffffff;
    padding: 3rem 2rem 4rem;
    margin: 10px;
}

.modal-photo__contents {
    padding: 20px;
}

.modal__close-bar,
.modal-photo__close-bar {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: 200;
    margin-right: -1rem;
    margin-top: -2.8rem;
    cursor: pointer;
}

.modal-photo__close-bar {
    margin-right: 1rem;
    margin-top: 0px;
    z-index: 99;
}

.modal--hidden {
    display: none;
}

.modal__title {
    margin-top: 40px;
    font-size: 3rem;
}

.modal__descrip {
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: 200;
}

.header__logo {
    position: absolute;
    margin: 0px 3em;
    max-width: 150px;
    height: auto;
    animation: moveDown 1s forwards;
    z-index: 1;
}

.header_menu {
    display: none;
    width: 3em;
    margin: 1em;
}

.shop {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    z-index: auto;
}

.shop__photo {
    width: 50%;
    background-image: url('../static/shop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: 50% 50%;
    animation: introLoad 2s forwards;
}

.shop__content {
    padding: 0px 5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    background-color: #f9efde;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
}

.shop__title {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.25;
    z-index: 0;
}

.shop__descrip {
    margin-top: 20px;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.shop__button {
    color: white;
    margin-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;
}

.shop__button:after {
    content: '';
    background-color: #424242;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.shop__button:hover:after {
    top: 0px;
    left: 0px;
}

.ar {
    position: relative;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.ar__animation {
    animation: introLoadPhone 4s forwards;
}

.ar__content {
    grid-column: 6/12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
}

.ar::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../static/phong-bg.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.125;
    z-index: -99;
}

.ar__bg {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -98;
}

.ar__title {
    line-height: 1.25;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

.ar__descrip {
    margin-top: 20px;
    line-height: 1.5;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.ar__button {
    margin-top: 30px;
    height: 50px;
    width: 250px;
    grid-row: 3;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.ar__button:after {
    content: '';
    background-color: #424242;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.ar__button:hover:after {
    top: 0px;
    left: 0px;
}

.metaverse {
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.metaverse__descrip {
    margin-top: 20px;
    margin: 0px auto;
    color: white;
    max-width: 800px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.metaverse__bg {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -99;
}

.metaverse__title {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 6rem;
}

.metaverse__button,
.metaverse__button:after {
    cursor: pointer;
    margin: auto;
    margin-top: 40px;
    margin-right: 20px;
    width: 220px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.metaverse__button:after {
    cursor: pointer;
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'Click to Continue';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

.metaverse__button:hover:after {
    cursor: pointer;
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
        opacity: 0.7;
    }
}

@keyframes introLoadPhone {
    50% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.panorama__reverse {
    flex-direction: row-reverse !important;
}

.panorama {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
}

.panorama__text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: start;
}

.panorama__text img {
    max-height: 300px;
    object-fit: contain;
    opacity: 0.9;
    z-index: 99;
}

.panorama__logo-wrapper {
    height: 300px;
    width: 300px;
}

#panorama__bg {
    position: absolute;
    width: 100%;
    height: 500px;
    opacity: 0.6;
}

.panorama__content {
    height: 500px;
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.panorama__title {
    line-height: 1.25;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 3.4rem;
    z-index: 1;
}

.panorama__button {
    margin-top: 30px;
    height: 50px;
    width: 250px;
    grid-row: 3;
    color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;
}

.panorama__button:after {
    content: '';
    background-color: #d1d1d1;
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.panorama__button:hover:after {
    top: 0px;
    left: 0px;
}

#panorama__tmpBG {
    position: absolute;
    width: 100%;
    height: 500px;
    opacity: 0.6;
    background-image: url(../static/csc_pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-photo {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 400px;
    flex-direction: row;
    text-align: center;
    background-image: url('../static/shop-premium.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.shop-photo__bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.shop-photo__text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 4rem;
    z-index: 1;
    opacity: 0;
    background-image: url('../static/image.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 0.5s;
}

.shop-photo__text:hover {
    opacity: 1;
}

.shop-photo__text--overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 0;
    font-size: 4rem;
    opacity: 0.7;
}

.shop__button-facebook {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 2rem;
    background-image: url('../static/facebook.png');
    background-position: center;
    background-size: contain;
}

.shop__button-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.bottomBar {
    height: 55px;
    width: 100%;
    font-size: 16px;
    background-color: #ff013c;
    color: white;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bottomBar__name,
#bottomBar__photo {
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.slideshow-container a {
    font-size: 24px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1300px) {
    li a {
        padding: 0.5em 1em;
    }

    .shop__content {
        padding: 0px 2rem;
    }
}

@media screen and (max-width: 1200px) {
    .ar {
        height: 1000px;
        grid-template-rows: 1fr 1fr;
    }

    .ar {
        height: 800px;
    }

    .ar__content {
        grid-column: 4/11;
        grid-row: 2;
        place-self: center;
    }
}

@media screen and (max-width: 1000px) {
    nav {
        padding: 0px 2em;
    }

    li a {
        padding: 0.5em 0.5em;
    }

    .shop__content {
        padding: 0px 0.5rem;
    }

    .header__logo {
        max-width: 150px;
    }

    .panorama__content {
        text-align: center;
        align-items: center;
    }

    .panorama__logo-wrapper {
        display: none;
    }

    .shop-photo {
        height: 800px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .slideshow-container {
        max-width: 80%;
    }

    nav {
        display: none;
        padding: 0px 2em;
    }

    li a {
        padding: 0.5em 0.5em;
    }

    .ar__content {
        grid-column: 2/12;
        grid-row: 2;
        place-self: center;
    }

    .header__logo {
        max-width: 150px;
    }

    .shop {
        flex-direction: column-reverse;
        height: 1000px;
    }

    .shop__photo {
        width: 100%;
        height: 60%;
    }

    .shop__content {
        padding: 0px 2em;
        width: 100%;
        height: 40%;
    }

    .shop__title {
        font-size: 36px;
    }

    .shop__descrip {
        font-size: 20px;
    }

    .panorama__title {
        font-size: 3rem;
    }

    .metaverse__descrip {
        margin: 0px 30px;
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .slideshow-container {
        max-width: 100%;
    }

    .header__logo {
        margin: 0px 0.5em;
        max-width: 150px;
        animation: moveDown 1s forwards;
    }

    .ar__title {
        font-size: 36px;
    }

    .ar__descrip {
        font-size: 20px;
    }

    .shop__title {
        font-size: 36px;
    }

    .shop__descrip {
        font-size: 20px;
    }

    .metaverse__title {
        font-size: 4rem;
    }

    .metaverse__descrip {
        text-align: left;
    }

    .metaverse {
        height: 800px;
    }

    .metaverse__bg {
        position: absolute;
        width: 100%;
        height: 800px;
        z-index: -99;
    }

    .panorama {
        height: 800px;
    }

    #panorama__bg {
        height: 800px;
    }

    #panorama__tmpBG {
        height: 800px;
    }

    .panorama__content {
        height: 800px;
    }

    .modal-photo__contents {
        height: 75%;
    }
}

@media screen and (max-width: 500px) {
    .modal-photo__contents {
        height: 70%;
    }

    .header__logo {
        margin: 0px 0.5em;
        max-width: 125px;
        animation: moveDown 1s forwards;
    }

    .shop {
        height: 800px;
    }

    .shop__photo {
        height: 50%;
    }

    .shop__content {
        padding: 0px 1rem;
        height: 50%;
    }

    .ar__title {
        font-size: 32px;
    }

    .ar__descrip {
        font-size: 16px;
    }

    .shop__title {
        font-size: 32px;
    }

    .shop__descrip {
        font-size: 16px;
    }

    .panorama__title {
        font-size: 2.5rem;
    }

    .metaverse__title {
        font-size: 3rem;
    }
    .modal__title {
        margin-top: 20px;
        font-size: 2rem;
    }

    .modal__descrip {
        margin-top: 10px;
        line-height: 1;
        font-size: 1rem;
        font-weight: 200;
    }

    .bottomBar {
        font-size: 12px;
    }
}
